<!DOCTYPE html>
<html>
<head>
    <title>ДЗ №2</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
    <div id="app" v-cloak>
        <div class="container">
            <user-list v-bind:list="users" v-on:edit-user="editUserEvent"></user-list>
            <edit-user v-if="user" v-bind:user="user" v-on:edit-cancel="user = null"></edit-user>
        </div>
    </div>

    <template id="user-list">
        <table class="table">
            <thead>
                <th>ID</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Действия</th>
            </thead>
            <tbody>
                <tr v-for="user in list" v-bind:key="user.id">
                    <td>{{ user.id }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.firstName }}</td>
                    <td><button class="btn btn-sm btn-primary" v-on:click="editUser(user)">Редактировать</button></td>
                </tr>
            </tbody>
        </table>
    </template>

    <template id="edit-user">
        <form>
            <div class="form-group">
                <label for="lastName">Фамилия</label>
                <input type="text" class="form-control" id="lastName" v-bind:value="user.lastName">
            </div>
            <div class="form-group">
                <label for="firstName">Имя</label>
                <input type="text" class="form-control" id="firstName" v-bind:value="user.firstName">
            </div>
            <button type="submit" class="btn btn-primary">Обновить</button>
            <button type="button" class="btn btn-warning" v-on:click="$emit('edit-cancel')">Отмена</button>
        </form>
    </template>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var UserList = {
            name: "user-list",
            template: "#user-list",
            props: {
                list: {
                    type: Array,
                    required: true
                }
            },
            methods: {
                editUser: function (user) {
                    this.$emit("edit-user", user)
                }
            },
            mounted() {
                console.log("UserList mounted()")
            }
        }

        var EditUser = {
            name: "edit-user",
            template: "#edit-user",
            props: {
                user: {
                    type: Object,
                    required: true
                }
            },
        }

        new Vue({
            el: "#app",
            components: {
                'user-list': UserList,
                'edit-user': EditUser,
            },
            data: function () {
                return {
                    user: null,
                    users: [],
                }
            },
            methods: {
                fetchUsers: function () {
                    this.users = [
                        {
                            id: 1,
                            lastName: "Артёмов",
                            firstName: "Артём",
                        },
                        {
                            id: 2,
                            lastName: "Михайлов",
                            firstName: "Михаил",
                        },
                        {
                            id: 3,
                            lastName: "Максимов",
                            firstName: "Максим",
                        },
                        {
                            id: 4,
                            lastName: "Романов",
                            firstName: "Роман",
                        },
                        {
                            id: 5,
                            lastName: "Иванов",
                            firstName: "Иван",
                        },
                    ]
                },
                editUserEvent: function(user) {
                    this.user = user
                }
            },
            mounted() {
                this.fetchUsers()
            }
        })
    </script>
</body>
</html>